[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
sklearn = "*"
seaborn = "*"
ipykernel = "*"
protobuf = "==3.20.0"
tensorflow = "==2.6.0"
tfx = "==1.8.0"
ml-metadata = "*"

[dev-packages]

[requires]
python_version = "3.9"
